@import "tailwindcss";

:root {
  /* === Color Palette === */
  --color-white: #FFFFFF;
  --color-seashell: #F1F1F1;
  --color-sea-white: #E5F0F3;
  --color-atlantic: #105670;
  --color-deep-teal: #092C38;

  /* === Font === */
  --font-sans: 'Inter', sans-serif;
}